/*Ngăn chữ xuống dòng*/
.no-wrap {
    white-space: nowrap;
}
.select2{
    width: 100%;
}
.error{
    color: red;
}

.font-size-14{
    font-size: 14px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-18{
    font-size: 18px;
}


#nav-source{
    li a{
        color: #808080 !important;
    }
    li a.active{
        color: #556ee6 !important;
    }
}
